# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Data ( >100MB)
data/Bronze/*.xlsx

# Docker
logs/

# reports/*.html
