# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Great Expectations
gx/
great_expectations/uncommitted/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Data (too large for GitHub >100MB)
data/Bronze/*.xlsx

# Docker
logs/

# Pipeline logs
pipeline.log
pipeline_backup_*.log

# reports/*.html
