# OpenMetadata
# .env généré automatiquement - ne pas committer en production
.env

# Clés privées
conf/private_key.der
conf/public_key.der

# Airflow
logs/
dags/__pycache__/
*.pyc

# Ingestion logs
ingestion/logs/
ingestion/__pycache__/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
